
/**Responsive**/

/**mobile screen**/
@media screen and (max-width: 768px) {

    .news_first{
        padding: 15px;
    }
    .tintuc {
        display: none;
    }

    .news_banner {
        width: 40%;
        height: 130px;
        flex-shrink: 0;
        border-radius: 20px 20px 0 0;
        margin-top: 5px
    }

    .new-box {
        display: flex;
        margin: 15px;
        padding: 5px;
    }

    .news_topic {
        white-space: normal;
        /* Để cho phép xuống dòng */
        overflow: hidden;
        text-overflow: ellipsis;
        /* Nếu nội dung quá dài */
    }

    .news_content .news_date {
        position: absolute;
        transform: translate(0px, 95px);
        /* Điều chỉnh vị trí từ góc dưới bên trái */

    }

    .news_detail {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        /*giới hạn số dòng*/
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .news_content {
        border-radius: 20px 20px 20px 20px;
        background: #FFF;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .news_first{
        padding: 15px;
    }
    .tintuc {
        display: none;
    }

    .news_banner {
        width: 40%;
        height: 130px;
        flex-shrink: 0;
        border-radius: 20px 20px 0 0;
        margin-top: 5px
    }

    .new-box {
        display: flex;
        margin: 15px;
        padding: 5px;
    }

    .news_topic {
        white-space: normal;
        /* Để cho phép xuống dòng */
        overflow: hidden;
        text-overflow: ellipsis;
        /* Nếu nội dung quá dài */
    }

    .news_content .news_date {
        position: absolute;
        transform: translate(0px, 95px);
        /* Điều chỉnh vị trí từ góc dưới bên trái */

    }

    .news_detail {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        /*giới hạn số dòng*/
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .news_content {
        border-radius: 20px 20px 20px 20px;
        background: #FFF;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {

    .news_first{
        padding: 15px;
    }
    .news_banner {
        width: 100%;
        height: 181px;
        flex-shrink: 0;
        border-radius: 20px 20px 0 0;
    }

    .news-second-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 50px;
        padding: 20px 47px 0 20px;
        max-width: 100%;
        width: 100%;
    }

    .text_bold {
        padding: 20px 20px 0;
    }
    .new-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 110%;

    }

    .news_content {
        padding: 10px
    }

    .text_bold {
        font-size: 22px;
    }
}

@media screen and (min-width: 1280px) {
    .news_first{
        padding: 30px 150px;
    }
    .text_bold {
        font-size: 24px;
    }

    .news_spotlight,
    .tintuc {
        padding: 25px 0px 20px 150px;
    }

    .news_content {
        flex-shrink: 0;
        border-radius: 0px 0px 20px 20px;
        background: #FFF;
        padding: 20px
    }


    .news-second-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 50px;
        padding: 0 150px 0 150px;
        max-width: 100%;
        width: 100%;

    }

    .news_banner {
        width: 100%;
        height: 181px;
        flex-shrink: 0;
        border-radius: 20px 20px 0 0;
    }

    .new-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 110%;
    }
}


.new-box {
    border-radius: 20px;
    background: #FFF;
    flex-shrink: 0;

}


.news_detail {
    color: #091D3E;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.news_topic {
    color: #091D3E;
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 5px;
}

.container {
    background: #EDF1F5;
    width: 100%;
    max-width: 100%;
}

.news_date {
    color: #091D3E;
    font-family: Barlow;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5px;
    margin-top: 5px;
}


.text_bold {
    color: #091D3E;
    font-family: Barlow;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.news_first {
    max-width: 100%;
    width: 100%;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0 25px 0;
}

.txt_showmore {
    color: #FFF;
    text-align: center;
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.btn_showmore {
    width: 200px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 50px;
    background: linear-gradient(88deg, #0038FF 4.76%, #1D92FF 99.54%);
    display: flex;
    justify-content: center;
    align-items: center;


}
